body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #1a1a2e, #2c3e50);
}
.center{
    text-align: center;
     margin:  0 auto;
}
hr {
    border: none !important;
    height: 4px !important;
    background: linear-gradient(90deg, #0ff, #f0f, #0ff) !important;
    box-shadow: 0 0 10px #0ff, 0 0 20px #f0f, 0 0 30px #0ff !important; 
    animation: cyber-glow 1.5s infinite alternate !important;
  }
  
  @keyframes cyber-glow {
    0% {
      box-shadow: 0 0 10px #0ff, 0 0 20px #f0f, 0 0 30px #0ff !important;
    }
    100% {
      box-shadow: 0 0 20px #f0f, 0 0 30px #0ff, 0 0 40px #f0f !important;
    }
  }
.error-text{
  color: red;
}