
.courses{
    display: flex;
    flex-wrap: wrap;
}
.course{

    border: 1px solid black;
    margin-right: 10px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}/* main.css */
.main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

aside {
    min-width: 200px;
    background-color: #f0f0f0;
    padding: 15px;
    position: sticky;
    top: 20px;

}

